/* Loading fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0px;
  background-color: #969FAA;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}

#inputForm {
  background-color: white;
  width:32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 30px;
}

#inputForm input {
  margin-bottom: 15px;
  font-size: 16px;
}

#inputForm h1 {
  margin-bottom: 15px;
}

#inputForm h6 {
  margin-bottom: 25px;
  color: #8d8d8d;
  font-weight: 400;
}

#inputForm button {
  margin-top: 5px;
}
